.t{
	height: 90%;
	width: 80%;
	position: absolute;
	left: 190px;
}
body{
	background: url(fondo.jpg);
	left: 43px;
	position: absolute;
}
.w{
	top: 2px;
	position: absolute;
	left: 265px;



}
.n{
	top: 470px;
	position: absolute;
	left: 432px;

}
.y{
	top: 40px;
	border: white 8px outset;
	border-color: #2397D3;
	position: absolute;
	left: 45px

	}

.j{
	top: 280px;
	left: 45px;
	font-size: 20px;
	width: 200px;
	color: #D8F8FC;
	position: absolute;
}
.o{	
	top: 305px;
	left: 45px;
	font-size: 20px;
	width: 200px;
	color: #D8F8FC;
	position: absolute;
}
.q1{
	position: absolute;
	top: 370px;
    left: 120px;
    display: none;
}
.q2{
    position: absolute;
	top: 350px;
	left: 330px;
	 display: none;
}
.q3{
   position: absolute;
   top: 370px;
   left: 530px;
    display: none;
}
.q4{
	position: absolute;
	top: 370px;
	left: 750px;
	 display: none;
}
.we{
	position: relative;
	display: flex;

}
.ho{
	position: absolute;
	top: 420px;

	left: 850px;

}
.tit{
	color: #34964B;
	position: absolute;
	top: -50px;
	left: 350px;
	font-size: 80px;
	font-family: sans-serif;
}
.ex{
	position: absolute;
	top: 20px;
	height: 110px;
	width: 110px;
	left: 580px;
}
.b1{
  position: absolute;
  color: #B5EBAE;
       top: 150px;
      left: 185px;
        font-family: Candy Beans;
  background: transparent;
  border: none;
      color: #FFFFFF;
      padding: 8px 20px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 2px 2px;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #12304E;
      border: 2px solid #7F9E7B;
 }

 .b1:hover{
       background-color: #34964B;
      font color: #060101;

 }
 .b2{
  position: absolute;
  color: #B5EBAE;
       top: 150px;
      left: 400px;
        font-family: Candy Beans;
  background: transparent;
  border: none;
      color: #FFFFFF;
      padding: 8px 20px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 2px 2px;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #12304E;
      border: 2px solid #7F9E7B;
 }

 .b2:hover{
       background-color: #34964B;
      font color: #060101;

 }
 .b3{
  position: absolute;
  color: #B5EBAE;
       top: 150px;
      left: 600px;
        font-family: Candy Beans;
  background: transparent;
  border: none;
      color: #FFFFFF;
      padding: 8px 20px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 2px 2px;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #12304E;
      border: 2px solid #7F9E7B;
 }

 .b3:hover{
       background-color: #34964B;
      font color: #060101;

 }
 .bot{
 	position: absolute;
 	border: solid;
 	background-color: #3C7B89;
 	color: white;
 	height: 70px;
 	width: 170px;
 	left: -800px;
 	top: -300px;
 	font-size: 25px;
 }
 .bot:hover{
 	color:  #3C7B89;
 	background-color: white;
 }
 .but11{
 	position: absolute;
 	border: solid;
 	background-color: #3C7B89;
 	color: white;
 	height: 60px;
 	width: 160px;
 	left: 200px;
 	top: 2400px;
 	font-size: 23px;
 }
 .but11:hover{
 	color:  #3C7B89;
 	background-color: white;
 }
 .p1{
 	position: absolute;
 	top: -470px;
 	font-size: 70px;
 	left: -480px;
 	color:#3BA7A6;
 }
 .p1:hover{
 	color:#0B4678;
 }
 .home{
 	left: -200px;
 }
 .fondos{
 	position: absolute;
 	color: black;
 	font-size: 18px;
 	font-family: sans-serif;
 	background-color: #6095CC;
 	top: 250px;
 	border: solid;
 	border-radius: 1%;
 	width: 965px;
 	height: 270px;

 }
  .fondos2{
 	position: absolute;
 	color: black;
 	font-size: 18px;
 	font-family: sans-serif;
 	background-color: #6095CC;
 	top: 800px;
 	border: solid;
 	border-radius: 1%;
 	width: 965px;
 	height: 335px;
 	}
 	.fondos:hover{
 		background-color: #15A380;
 	}
 	.fondos2:hover{
 		background-color: #15A380;
 	}
 	 .fondos3{
 	position: absolute;
 	color: black;
 	font-size: 18px;
 	font-family: sans-serif;
 	background-color: #6095CC;
 	top: 1500px;
 	border: solid;
 	border-radius: 1%;
 	width: 965px;
 	height: 525px;
 	}
 	.fondos3:hover{
 		background-color: #15A380;
 	}
 	.titu1{
 		font-size: 32px;
 		color:#126C30;
 		font-family: initial;
 	}
 	.titu2{
 		font-size: 32px;
 		color:#126C30;
 		font-family: initial;
 	}
 	.ww{
 		position: absolute;
 		height: 190px;
 		width: 315px;
 		top: 570px;
 		left: 310px;
 		}
 		.rr{
 		position: absolute;
 		height: 190px;
 		width: 315px;
 		top: 1200px;
 		left: 320px;
 		}
 		.r1{
 		position: absolute;
 		height: 190px;
 		width: 315px;
 		top: 1200px;
 		left: 720px;
 		}
 		.r2{
 		position: absolute;
 		height: 190px;
 		width: 315px;
 		top: 2100px;
 		left: 530px;
 		}
 		.r3{
 		position: absolute;
 		height: 190px;
 		width: 315px;
 		top: 2100px;
 		left: 120px;
 		}
 		.b4{
 			top: 740px;
 			position: absolute;
 			background-color: #0A548D;
 			color: white;
 			font-size: 20px;
 			left: 880px;
 			font-family: inherit;
 		}
 		.b4:hover{
 			background-color: #103653;
 			color: white;

 		}
 		.b5{
 			top: 1450px;
 			position: absolute;
 			background-color: #0A548D;
 			color: white;
 			font-size: 20px;
 			left: 880px;
 			font-family: inherit;
 		}
 		.b5:hover{
 			background-color: #103653;
 			color: white;

 		}
 		.b6{
 			top: 2300px;
 			position: absolute;
 			background-color: #0A548D;
 			color: white;
 			font-size: 20px;
 			left: 880px;
 			font-family: inherit;
 		}
 		.b6:hover{
 			background-color: #103653;
 			color: white;

 		}
    .bot8{
  position: absolute;
  border: solid;
  background-color: #3C7B89;
  color: white;
  height: 70px;
  width: 170px;
  left: -600px;
  top: -300px;
  font-size: 25px;
 }
 .bot8:hover{
  color:  #3C7B89;
  background-color: white;

  }
.tabl{
  position: absolute;
  left: 530px;
  top: 170px;
  background: url(calcuu.jpg);
  width: 250px;
  height: 400px;
  text-align: center;
  border-radius: 5%;

}
.frt{
  font-family: inherit;
  font-size: 60px;
  position: absolute;
  color: #1B537E;
  left: 510;
}
.frt:hover{
  color: #239C89;
}
.but00{
  position: absolute;
  background-color: #458084;
  color: black;
  border: solid;
  height: 50px;
  width: 110px;
  top: 530px;
  font-size: 18px;
  left: 990px;
}
.but00:hover{
  background-color: #214870;
  color: white;
}
.botona{
  position: absolute;
  top: -299px;
  left: -395px;
  font-size: 25px;
  background-color: #3C7B89;
  border: solid;
  color: white;
  width: 170px;
  height: 70px;
}
.botona:hover{
  color: #3C7B89;
  background-color: white;

  }
  .tituloe{
    position: absolute;
   font-size: 40px;
   font-style: initial;
   color: #3C7B89;
   top: -400px;
   left: -480px;
  }
  .tituloe:hover{
    color: #15B5B3;
  }
  .botonex{
    position: absolute;
    top: -300px;
    font-size: 20px;
    height: 65px;
    width: 180px;
    left: -800px;
    background-color: #3C7B89;
    border: solid;
    color: white;
  }
  .botonex:hover{
  color: #3C7B89;
  background-color: white;
  }
